@media only screen and (max-width: 1400px) {
  html {
    font-size: 50%;
  }
  #menu_check:checked ~ #hamburger {
    .nav:nth-child(1) {
      transform: rotate(45deg) translate(7px, 6px);
    }
    .nav:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 40%;
  }

  #menu_check:checked ~ #hamburger {
    .nav:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  .home-container {
    height: 60vh;
    .four {
      .home4 {
        background-size: stretch;
      }
      .content {
        font-size: 1.7rem;
      }
    }
  }

  #about {
    .left_wrapper {
      .border_deisgn {
        width: 45%;
        left: 5%;
      }
      .inner {
        margin-left: 4rem;
      }
    }
    .right_wrapper {
      .img_wrapper {
        .img2 {
          background-position: 30% 50%;
        }
      }
    }
  }

  #skills {
    .web_design {
      background-size: contain;
      grid-template-columns: 30% 70%;
      .right .de {
        bottom: 5px;
      }
    }

    .dNd {
      background-size: contain;
      .left {
        svg {
          margin-top: 20rem;
        }
        .text {
          transform: translate(20%, -50%);
        }
      }
    }

    .media {
      background-size: contain;
      grid-template-columns: 70% 30%;
      .left .me {
        bottom: 7rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 30%;
  }

  #hamburger {
    .nav_wrapper {
      height: 20px;
      width: 20px;
      padding: 10px;
      .nav {
        height: 2px;
        margin: 2px 0;
        width: 20px;
        &:nth-child(2) {
          width: 15px;
        }
      }
    }
  }

  .home-container {
    .home1 {
      .emo h1 {
        width: 50%;
      }
    }
    .four .home4 {
      .content {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}
