.main1 div {
  background: url("../img/product/pdt1/main.jpg") center center no-repeat;
}
.pd1_side:nth-child(1) {
  background: url("../img/product/pdt1/side1.png") center center no-repeat;
}
.pd1_side:nth-child(2) {
  background: url("../img/product/pdt1/side2.jpg") center center no-repeat;
}
.pd1_side:nth-child(3) {
  background: url("../img/product/pdt1/side3.jpg") center center no-repeat;
}

.main2 div {
  background: url("../img/product/pdt2/main.jpg") center center no-repeat;
}
.pd2_side:nth-child(1) {
  background: url("../img/product/pdt2/side1.jpg") center center no-repeat;
}
.pd2_side:nth-child(2) {
  background: url("../img/product/pdt2/side2.jpg") center center no-repeat;
}
.pd2_side:nth-child(3) {
  background: url("../img/product/pdt2/side3.png") center center no-repeat;
}

.main3 div {
  background: url("../img/product/pdt3/main.jpg") center center no-repeat;
}
.pd3_side:nth-child(1) {
  background: url("../img/product/pdt3/side1.jpg") center center no-repeat;
}
.pd3_side:nth-child(2) {
  background: url("../img/product/pdt3/side2.jpg") center center no-repeat;
}
.pd3_side:nth-child(3) {
  background: url("../img/product/pdt3/side3.jpg") center center no-repeat;
}

.main4 div {
  background: url("../img/product/pdt4/main.png") center center no-repeat;
}
.pd4_side:nth-child(1) {
  background: url("../img/product/pdt4/side1.jpg") center center no-repeat;
}
.pd4_side:nth-child(2) {
  background: url("../img/product/pdt4/side2.jpg") center center no-repeat;
}
.pd4_side:nth-child(3) {
  background: url("../img/product/pdt4/side3.jpg") center center no-repeat;
}
