.project {
  height: 200%;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: all 500ms ease-in-out;
  &:hover {
    transform: translateY(-50%);
  }
  .img_wrapper {
    height: 50%;
    width: 100%;
    opacity: 0;
  }
  .details {
    width: 100%;
    height: 50%;
    padding: 20px;
    .title {
      margin: 5px 0;
    }
    .para {
      font-weight: lighter;
    }
  }
}

.project1 .img_wrapper {
  background: url('../img/product/pj1.png') no-repeat center center;
  background-size: cover;
}

.project2 .img_wrapper {
  background: url('../img/product/pj2.png') no-repeat center center;
  background-size: cover;
}

.project3 {
  .img_wrapper {
    background: url('../img/product/pj3.png') no-repeat center center;
    background-size: cover;
  }
}

.project4 .img_wrapper {
  background: url('../img/product/pj4.png') no-repeat center center;
  background-size: cover;
}
